*
{
  margin: 0;
  padding: 0;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  display: flex;
  flex-direction: column;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #8A8686;
  overflow: hidden;
}

.sidenav .profile_image
{
  font-family: 'Courier New', monospace;
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
}

.sidenav .profile_image img
{
  width: 150px;
  height: auto;
}

.sidenav .options
{
  text-align: center;
  margin-top: 50px;
}

.sidenav .options a
{
  display: block;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  margin-bottom: 30px;
  color: black;
  font-size: 30px;
}

.sidenav .links
{
  margin-top: auto;
  text-align: center;
}

.sidenav .links img
{
  width: 50px;
}

.contents
{
  width: 50%;
  margin-left: 500px;
  margin-top: 20px
}

.contents .home
{
  text-align: center;
}

.contents .home img
{
  width: 70px;
}

.contents h1
{
  font-family: 'Montserrat', sans-serif;
}

.contents h2
{
  font-family: 'Montserrat', sans-serif;
  text-decoration: underline;
}

.contents hr
{
  margin-top: 20px;
  margin-bottom: 20px;

}

.contents .home .text, .contents .about .text
{
  width: 50%;
  margin: 0 auto;
  margin-top: 10px
}

.contents p
{
  margin-top: 10px;
  font-family: 'Courier Prime', monospace;
}

.contents .projects .Project
{
  margin-top: 30px;
}

.contents .projects .Project ul li
{
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  font-family: cursive;
  list-style-type: none;
}

.contents .projects .Project video
{
  width: 500px;
  height: auto;
  margin-top: 10px;
}

.contents .projects .Project img
{
  width: 500px;
  height: auto;
  margin-top: 10px;
}

@media only screen and (max-width: 1100px)
{
  .contents {
    width: 50%;
    margin-left: 450px;
  }
}

@media only screen and (max-width: 960px)
{
  .contents {
    width: 50%;
    margin-left: 350px;
  }

  .contents .projects .Project video, .contents .projects .Project img
  {
    width: 400px;
    height: auto;
  }

  .contents .home .text, .contents .about .text
  {
    width: 70%;
    margin: 0 auto;
    margin-top: 10px
  }
}














a
{

}
